.works-container-div {
  padding-top: 5%;
  // border: 1px solid blue !important;
  text-align: center;

  .works-title-main {
    color: #212529;
    font-size: 30px;
    font-family: "Rubik", sans-serif;
    // font-weight: 700;
    margin-bottom: 15px;
    line-height: 50px;
    text-transform: uppercase;
    margin: 4% 0;
  }

  .works-container {
    // border: 1px solid red !important;
    display: flex;
    justify-content: center;
    flex-direction: row;

    .works-button-div {
      // padding: 0 20%;
      // border: 1px solid red;
      display: flex;
      justify-content: space-around;

      .works-icons {
        color: #854fee;
      }
    }
  }
}
