.header-container {
  padding-top: 10rem;
  // border: 1px solid red;
  width: 100%;

  @media screen and (max-width: 768px) {
    padding-top: 7rem;
  }

  .header-text-box {
    padding-left: 5%;
    width: 100%;
    // border: 1px solid yellow;

    .my-name {
      font-family: "Dancing Script", cursive;
      font-weight: 600 !important;
      background: -webkit-linear-gradient(#4458dc, #854fee);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    h3 {
      font-size: 3.5vw;
      @media screen and (min-width: 769px) and (max-width: 899px) {
        font-size: 5vw;
      }
      @media screen and (max-width: 768px) {
        font-size: 7vw;
      }
    }

    h1 {
      font-size: 5vw;
      line-height: 10vw;
      @media screen and (min-width: 769px) and (max-width: 899px) {
        font-size: 7.5vw;
        line-height: 15vw;
      }
      @media screen and (max-width: 768px) {
        font-size: 10vw;
        line-height: 20vw;
      }
    }

    h5 {
      font-size: 2vw;
      @media screen and (min-width: 769px) and (max-width: 899px) {
        font-size: 3vw;
      }
      @media screen and (max-width: 768px) {
        font-size: 4vw;
      }
    }

    .header-button-div {
      margin-top: 5%;
      display: flex;
      justify-content: flex-start;
      // border: 1px solid red;

      .header-button {
        padding: 0.5rem 2rem;
        background-image: linear-gradient(to right, #4458dc 0%, #854fee 100%),
          radial-gradient(circle at top left, #4458dc, #854fee);
      }

      .cv-btn {
        margin-left: 5%;
        background: none !important;
      }
    }
  }

  .header-image-box {
    // border: 1px solid blue;
    width: 100%;
    overflow: hidden; //to prevent image going outside of div

    .header-image {
      width: 80%;
      height: 90%;
      display: block;
      margin: auto;
      margin-top: 10%;
    }
  }
}

.underline {
  color: white;
  text-decoration: underline;
  text-decoration-color: black;

  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
